.panel-row {
  display: flex;
  justify-content: center;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/cell.png');
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.white,
.black {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 05px 1px rgba(0, 0, 0, 0.55);
}

.white {
  background-color: #ffffff;
}

.black {
  background-color: #000000;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgba(77, 82, 86, 0.8);
  color: #ffffff;
}

.user-form:nth-child(1) {
  border-right: 3px dashed #ffffff;
}

.user-form:nth-child(2) {
  border-left: 3px dashed #ffffff;
}

.user-form:nth-child(1):hover, .user-form:nth-child(2):hover {
  background-color: rgba(77, 82, 86, 0.5);
  transition: background-color 0.2s;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px;
  min-width: 270px;
}

.form-wrapper label {
  margin-right: 10px;
  width: 60px;
  display: flex;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  color: #4d5256;
  text-align: center;
  cursor: pointer;
  background-color: #f8fafb;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.1s ease;
}

.btn-confirm {
  color: #ffffff;
  background-color: #2c5ae9;
  width: 100%;
}

.disabled {
  color: #b7ccf9;
  border-color: #c9d9fb;
  background-color: #edf2fe;
}

.error-message {
  color: #f24147;
}

.user-wrapper {
  display: flex;
  align-items: center;
  margin: 20px;
}

.user-wrapper label {
  margin-left: 10px;
}
